<!doctype html> 
<html>
	<head>
	<%if(helmetTags) {%>
		<%-helmetTags.title.toString()%>
		<%-helmetTags.meta.toString()%>
	<%}%>
	<% for(var i=0; i<split_bundles.length; i++) {%>
        <script defer src="<%-split_bundles[i]%>"></script>
    <% } %>
	</head>
	<body>
		<div id ="root"><%-htmlContent%></div>
		<script type="text/javascript">
			window.INITIAL_STATE = <%-storeData%>
		</script>
	</body>
</html>